
body{
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(24, 135, 199, 0);
    color: rgb(0, 0, 0);
    font-weight: 500;
}
h1,H2,H3{
    font-family: "Oswald", sans-serif;
    font-weight: 800;
}
h5{
    font-family: 'Quicksand';
    font-size: 20px;
}
.anav-item{
    font-family: "Oswald", sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: center;
    float: right;
}
.nombre{
    font-size: 55px;
    color: rgb(22, 56, 117);
    text-shadow: 2px 4px 12px white;
}
.banner{
    background: url("img/pexels-fauxels-3184296.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
}

.banner2{
    background-color: rgba(255, 255, 255, 0.849);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
}
.a-menu{
    padding: 10px;
    margin: 10px;
}
.medio{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;    

}
.medio-b{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nosotros{
    padding: 15px;
}
.servicios{
    background-color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px;

}
.serv{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 325px;
    width: 90%;
    padding: 0px;
    transition: 1s;
}

.serv:hover{
    transition: 1s;
    z-index: 1;
}
.virus:hover{
    transform: scale(1.2);
    transition: 1s;
}
.virus{
    transition: 1s;
}
.despedido1:hover{
    transform: scale(1.2);
    transition: 1s;
}
.despedido1{
    transition: 1s;
}
.accidente:hover{
    transform: scale(1.2);
    transition: 1s;
}
.accidente{
    transition: 1s;
}
.qs{
    text-align: center;
    flex-direction: column;
}
.parrafos{
    font-size: 20px;

}
.contacto{
    padding: 20px;
}

.wpp{
    float: right;
    bottom: 0;
    position: fixed;
    z-index: 99999;
    display: flex;
    padding: 1rem;
}
.menu-nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}
nav{
    background-color: white;
}
.navbar{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    float: right;
}

.anav-link{
    color: rgb(49, 94, 136);
    font-weight: 800;
    padding: 10px;
    font-size: 20px;
    list-style: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

.anav-link:hover{
    color: rgb(180, 99, 99);
    transition: 1s;
    text-decoration: none;
}

iframe{
    width: auto;
}
.abtn{
    width: 100%;
}

.inferior{
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 10px;
}
.form-group{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: center;

}
form{
    padding: 15px;    

}
.foot{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.acord{
    padding: 20px;
}
.redes{
    font-size: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.capa-media{
    background-color: rgba(173, 216, 230, 0.438);
}
.datos{
    color: white;
    font-size: 22px;
    height: 75vh;
    background-color: rgb(39, 89, 139);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.foot,.foot2{
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
}
.equipo{
    color: white;
    justify-content: center;
    align-items: left;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(15, 37, 58);
    height: 75vh;
    list-style-type: none;
    font-size: 25px;
}
.rec{
   transform: rotate(5deg);
}
.recuadro{
    border-left: solid rgb(255, 255, 255) 10px;
    border-right: solid rgb(255, 255, 255) 10px;
    border-bottom: solid rgb(255, 255, 255) 10px;
    transform: translatex(-20px);
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
a:hover{
    transition: 2s;
    color: rgb(17, 60, 100);
}
a{

    transition: 1s;
    color: black;
    text-decoration: none;
}

@media (max-width: 800px){
    .nombre{
        font-size: 18px;
    }
    .menu-nav{
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .datos{
        height: 85vh;
    }
    .rec{
        transform: rotate(0deg);
     }
    .recuadro{
        display: none; }
    .equipo{
        height: auto;
    }}